<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Processing</title>
</head>
<body>
    <form method="post">
        <label for="text">Enter text:</label><br>
        <input type="text" id="text" name="text"><br><br>
        <input type="submit" value="Submit">
    </form>
    {% if overall_sentiment  %}
    
        <h2>Overall Sentiment:</h2>
        <p>{{ overall_sentiment.label }}</p>
        

        {% if comments %}
        <h2>Comments Breakdown</h2>
        <body>
            <table>
                <tr>
                    <th>Comment</th>
                    <th>Like Count</th>
                    <th>Label</th>
                    <th>Score</th>
                    <th>Replies</th>
                    <th>Reply Label</th>
                    <th>Reply Score</th>
                </tr>
                {% for key, value in comments.items() %}
                <tr>
                    <td rowspan="{{ value.replies|length if value.replies else 1 }}">{{ value['comment'] }}</td>
                    <td rowspan="{{ value.replies|length if value.replies else 1 }}">{{ value['likeCount'] }}</td>
                    <td rowspan="{{ value.replies|length if value.replies else 1 }}">{{ value['comment_sentiment_label'] }}</td>
                    <td rowspan="{{ value.replies|length if value.replies else 1 }}">{{ value['comment_sentiment_score'] }}</td>
                    {% if value.replies %}
                        {% for reply_key, reply_value in value['replies'].items() %}
                        <td>{{ reply_value['reply'] }}</td>
                        <td>{{ reply_value['reply_sentiment_label'] }}</td>
                        <td>{{ reply_value['reply_sentiment_score'] }}</td>
                        </tr>
                        <tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="3">No replies</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
        </body>
        
        {% endif %}
    {% endif %}
</body>
</html>