<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Comments Sentiment Analysis</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- External CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body class="container mt-5">

    <div class="jumbotron text-center">
        <h1 class="display-4">YouTube Comments Sentiment Analysis</h1>
        <p class="lead">Analyzing sentiments in YouTube comments</p>
    </div>
    
    <form method="post" class="mb-4" id="submit" onsubmit="urlParser(event)">
        <div class="form-group">
            <label for="text">Enter YouTube Video ID or YouTube URL:</label>
            <input type="text" class="form-control" id="text" name="text">
        </div>
        <input type="checkbox" id="toggleSectionCheckbox" onchange="toggleSection()"> Show Comments Analysis
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if comments == "INVALID ID" %}
    <p>
        You have provided an invalid YouTube url or Video ID. 
        <br>
        If YouTube URL is copied direct webpage, try the Video ID directly in input field. 
    </p>

    {% elif video %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="{{video.thumbnail}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{video.title}}</h5>
                      <p class="card-text">
                        <b>Channel:</b> {{video.channel}} <br>
                        <b>Views:</b> {{video.views}} <br>
                        <b>Likes:</b> {{video.likes}} <br>
                        <b>Favorites:</b> {{video.favorite}} <br>
                        <b>Comments:</b> {{video.comments}}
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {% if comments == "COMMENTS DISABLED" %}
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Overall Comment Sentiment</h4>
                      <p class="card-text">This video has comments disabled.</p>
                    </div>
                </div>
                {% else %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Overall Comment Sentiment</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                {% if overall_sentiment.label == "Positive" %}
                                    <img style="max-width:100%;" src="{{url_for('static',filename='/img/positive.png')}}" alt="Positive Sentiment">
                                {% elif overall_sentiment.label == "Negative" %}
                                    <img style="max-width:100%;" src="{{url_for('static',filename='/img/negative.png')}}" alt="Negative Sentiment">
                                {% elif overall_sentiment.label == "Neutral" %}
                                    <img style="max-width:100%;" src="{{url_for('static',filename='/img/neutral.png')}}" alt="Neutral Sentiment">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <p><b>Overall Label:</b> {{overall_sentiment.label}}</p>
                                <p><b>Overall Label Score:</b> {{overall_sentiment.label_total}}</p>
                                <p><b>Overall Sentiment Score:</b> {{overall_sentiment.score}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    {% endif %}

    {% if overall_sentiment  %}

    <div class="section" id="commentsTable" style="display:none">
        <hr class="hr hr-blurry" />
        <h2 class="text-center">Comments Breakdown</h2>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="align-top text-center">Comment</th>
                    <th class="align-top text-center">Label</th>
                    <th class="align-top text-center">Score</th>
                    <th class="align-top text-center">Like Count</th>
                    <th class="align-top text-center">Replies</th>
                    <th class="align-top text-center">Reply Label</th>
                    <th class="align-top text-center">Reply Score</th>
                    <th class="align-top text-center">Reply Likes</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in comments.items() %}
                <tr>
                    <td class="text-center" rowspan="{{ value.replies|length if value.replies else 1 }}">{{ value['comment'] }}</td>
                    
    
                    <!-- Conditionally shows different emoji based on NLU sentiment -->
                    {% if value['comment_sentiment_label'] == "positive" %}
                    <td class="text-center" rowspan="{{ value.replies|length if value.replies else 1 }}"><img style="max-width:25%;" src="{{url_for('static',filename='/img/positive.png')}}"></img></td>
                    
                    {% elif value['comment_sentiment_label'] == "negative" %}
                    <td class="text-center" rowspan="{{ value.replies|length if value.replies else 1 }}"><img style="max-width:25%;" src="{{url_for('static',filename='/img/negative.png')}}"></img></td>
    
                    {% elif value['comment_sentiment_label'] == "neutral" %}
                    <td class="text-center" rowspan="{{ value.replies|length if value.replies else 1 }}"><img style="max-width:25%;" src="{{url_for('static',filename='/img/neutral.png')}}"></img></td>
                    {% endif %}
                    
                    <td rowspan="{{ value.replies|length if value.replies else 1 }}">{{ value['comment_sentiment_score'] }}</td>
                    <td class="text-center" rowspan="{{ value.replies|length if value.replies else 1 }}" class="text-center">{{ value['likeCount'] }}</td>

                    
                    {% if value.replies %}
                        {% for reply_key, reply_value in value['replies'].items() %}
                        <td class="text-center">{{ reply_value['reply'] }}</td>
    
                        <!-- Conditionally shows different emoji based on NLU sentiment -->
                        {% if reply_value['reply_sentiment_label'] == "positive" %}
                        <td class="text-center"><img style="max-width:25%;" src="{{url_for('static',filename='/img/positive.png')}}"></img></td>
                        
                        {% elif reply_value['reply_sentiment_label'] == "negative" %}
                        <td class="text-center"><img style="max-width:25%;" src="{{url_for('static',filename='/img/negative.png')}}"></img></td>
    
                        {% elif reply_value['reply_sentiment_label'] == "neutral" %}
                        <td class="text-center"><img style="max-width:25%;" src="{{url_for('static',filename='/img/neutral.png')}}"></img></td>
                        {% endif %}
    
                        <td class="text-center">{{ reply_value['reply_sentiment_score'] }}</td>
                        <td class="text-center">{{ reply_value['reply_likeCount'] }}</td>
                        </tr>
                        <tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="3">No replies</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}


</body>
</html>